.sendForm {
    display: flex;
    justify-content: center;
}

.textarea {
    width: 976px;
    height: 60px;
    border: none;
    padding-top: 10px;
}

.textarea:active {
    border: none;
}

.button {
    margin-left: 25px;
    background: #0066CC;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: #0066cc;
}

.button:hover {
    background: #1979d7;

}

.button:active {
    background: #004485;

}
